@{
    ViewData["Title"] = "О приложении";
}

<h4>@ViewData["Title"]</h4>
<hr />


<div>
    
    <p>Приложение создано в рамках хакатона, проводимого IT-компанией Modsen</p>

    <p class="mt-2" ><strong>Краткое описание:</strong><br />
        Информационное приложение для бронирования билетов (мест) на различные массовые мероприятия в ГГУ имени Франциска Скорины,
        а также запись на консультации к психологу, принятие заявок на участие в студенческих мероприятиях, спортивных состязаниях, праздниках, событиях
        или работе и другое.
    </p>

</div>


<h5 class="mt-5">Разработано:</h5>
<div class="row">

    <div class="col-6 my-3">
        <a href="https://github.com/Medsia">
            <img class="img-thumbnail mb-3" width="300" height="300" src="https://avatars.githubusercontent.com/u/108734067?v=4" />
        </a>
        <h5>Дмитрий Гузненок</h5>
        <a class="text-info" href="https://github.com/Medsia">Medsia</a>
    </div>

    <div class="col-6 my-3">
        <a href="https://github.com/neerayel">
            <img class="img-thumbnail mb-3" width="300" height="300" src="https://avatars.githubusercontent.com/u/99248948?v=4" />
        </a>
        <h5>Шумилов Андрей</h5>
        <a class="text-info" href="https://github.com/neerayel">neerayel</a>
    </div>

</div>