
@{
    ViewData["Title"] = "Календарь мероприятий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ru',
            initialView: 'dayGridMonth',
            events: @Html.Raw(ViewData["Events"]),
            resources: @Html.Raw(ViewData["Resources"]),
            headerToolbar: {
                left: 'today prev,next',
                center: 'title',
                right: 'timeGridWeek,dayGridMonth,listMonth'
            },
        });
        calendar.render();
      });

</script>

<div class="text-center">
    <h4 class="display-4">Гомельский Государственный Университет Имени Франциска Скорины</h4><br>
</div>

<div>
    <a asp-controller="Event" asp-action="MyEvents" class="btn btn-outline-info ml-3 mb-3">Мои мероприятия</a>
    <div id='calendar' class="text-center"></div>
</div>

<div class="form-inline">
    <div class="ml-5 mr-auto">
        <a href="/Event"><h4>Мероприятия</h4></a>
    </div>
    <div class="ml-auto mr-5">
        <a href="/Subdivision"><h4>Подразделения</h4></a>
    </div>
    <div class="ml-auto mr-5">
        <a href="/CreativityType"><h4>Виды творчества</h4></a>
    </div>
    <div class="ml-auto mr-5">
        <a href="/SportType"><h4>Виды спорта</h4></a>
    </div>
    <div class="ml-auto mr-5">
        <a href="/LaborDirection"><h4>Трудовые направления</h4></a>
    </div>
    <div class="ml-auto mr-5">
        <a href="/ApplicationForm"><h4>Заявки</h4></a>
    </div>
</div>
