@{
    ViewData["Title"] = "Конфиденциальность";
}

<h4>Политика конфиденциальности</h4>
<hr />

<div class="">

    <p class="mt-2">
        <strong>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</strong>
        <br />
        <div class="ml-3">
            1.1 В настоящей Политике конфиденциальности используются следующие термины:
            <br />
            <div class="ml-3">
                1.1.1. Администрация сайта («далее – Администрация сайта») – уполномоченные сотрудники на управление сайтом, действующие от имени, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                <br />
                1.1.2. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                <br />
                1.1.3. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                <br />
                1.1.4. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                <br />
                1.1.5. «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к сайту, посредством сети Интернет и использующее сайт.
                <br />
            </div>
        </div>
    </p>

    <p class="mt-5">
        <strong>2. ОБЩИЕ ПОЛОЖЕНИЯ</strong>
        <br />
        <div class="ml-3">
            2.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
            <br />
            2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
            <br />
            2.3.Настоящая Политика конфиденциальности применяется только к сайту. Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
            <br />
            2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
            <br />
        </div>
    </p>

    <p class="mt-5">
        <strong>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</strong>
        <br />
        <div class="ml-3">
            3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте.
            <br />
            3.2. Персональные данные, разрешенные к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путем заполнения контактной формы на сайте в  и включают в себя следующую информацию:
            <br />
            <div class="ml-3">
                3.2.1. фамилию, имя Пользователя;
                <br />
                3.2.2. контактный телефон Пользователя;
                <br />
                3.2.3. адрес электронной почты (e-mail);
                <br />
            </div>
            3.3. Сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы («пиксель»):
            <br />
            3.3. Отключение cookies может повлечь невозможность доступа к частям сайта, требующим авторизации.
            <br />
        </div>
    </p>

    <p class="mt-5">
        <strong>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</strong>
        <br />
        <div class="ml-3">
            4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:
            <br />
            <div class="ml-3">
                4.1.1. Идентификации Пользователя, заполнившего контактную форму на сайте;
                <br />
                4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам сайта;
                <br />
                4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта, оказания услуг, обработки запросов и заявок от Пользователя.
                <br />
            </div>
        </div>
    </p>

    <p class="mt-5">
        <strong>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</strong>
        <br />
        <div class="ml-3">
            5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
            <br />
            5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на сайте.
            <br />
            5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Республики Беларусь только по основаниям и в порядке, установленным законодательством Республики Беларусь.
            <br />
            5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
            <br />
            5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
            <br />
            5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
            <br />
        </div>
    </p>

    <p class="mt-5">
        <strong>6. ОБЯЗАТЕЛЬСТВА СТОРОН</strong>
        <br />
        <div class="ml-3">
            6.1. Пользователь обязан:
            <br />
            <div class="ml-3">
                6.1.1. Предоставить информацию о персональных данных, необходимую для пользования сайтом.
                <br />
                6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                <br />
            </div>
            6.2. Администрация сайта обязана:
            <br />
            <div class="ml-3">
                6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
                <br />
                6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                <br />
                6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
                <br />
                6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
                <br />
            </div>
        </div>
    </p>

    <p class="mt-5">
        <strong>7. ОТВЕТСТВЕННОСТЬ СТОРОН</strong>
        <br />
        <div class="ml-3">
            7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесенные Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Республики Беларусь, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
            <br />
            7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несет ответственность, если данная конфиденциальная информация:
            <br />
            <div class="ml-3">
                7.2.1. Стала публичным достоянием до ее утраты или разглашения.
                <br />
                7.2.2. Была получена от третьей стороны до момента ее получения Администрацией сайта.
                <br />
                7.2.3. Была разглашена с согласия Пользователя.
                <br />
            </div>
        </div>
    </p>

</div>
