@{
    ViewData["Title"] = "Конфиденциальность";
}

<h4>Политика конфиденциальности</h4>

<p>Работа (как определено ниже) предоставляется на условиях настоящей публичной лицензии Creative Commons ("CCPL" или "лицензия").</p>
<p>Работа защищена авторским правом и/или другим применимым законодательством.</p>
<p>Любое использование, кроме разрешенного в соответствии с настоящей лицензией или законом об авторском праве, запрещено.</p>

<p>Осуществляя любые права на представленную здесь работу, вы принимаете и соглашаетесь соблюдать условия настоящей лицензии.</p>
<p>В той мере, в какой настоящая лицензия может рассматриваться как контракт, лицензиар предоставляет вам права, содержащиеся здесь, с учетом вашего согласия с такими положениями и условиями.</p>
