@model GomelStateUniversity_Activity.Models.SportType

@{
    ViewData["Title"] = "Новая спортивная секция";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>@ViewData["Title"]</h5>

@if (ViewData["Ошибка"] != null)
{
    <h3>@ViewData["Ошибка"]</h3>
}
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <strong>Название</strong>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary my-2" /><br />
                <a class="btn btn-outline-danger my-2" href="javascript:history.back()">Вернуться</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
