@model IEnumerable<GomelStateUniversity_Activity.Models.Subdivision>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string subdivName = "";
}

<h4>Контакты отделов</h4>

@if (ViewData["Message"] != null)
{
    <h3>@ViewData["Message"]</h3>
}

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                <div class="">Название отдела</div>
            </th>
            <th>
                <div class="">Контакты</div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if(subdivName != item.Name)
                    {
                        <div class="">@item.Name</div>
                    }
                </td>
                <td>
                    <div class="">@item.Contacts</div>
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    }
                </td>
            </tr>
            
            subdivName = item.Name;
        }
    </tbody>
</table>
