@model GomelStateUniversity_Activity.Models.ApplicationForm

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вы уверены что хотите удалить?</h3>
<div>
    <h4>ApplicationForm</h4>
    <hr />
    <dl class="row">
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a class="btn btn-outline-danger ml-4 mr-auto" href="javascript:history.back()">Вернуться</a>
    </form>
</div>
